@model IEnumerable<WebApplicationClienteCrud.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CLI_NOME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLI_DATANASCIMENTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLI_ATIVO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CLI_NOME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLI_DATANASCIMENTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLI_ATIVO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CLI_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CLI_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CLI_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
